<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-4 text-left>
        <ion-title class = "logo">
          <img src= "assets/imgs/GoLocalLogo.png" />
        </ion-title></ion-col>
      <ion-col col-4></ion-col>
      <ion-col col-4 text-right>
          <button ion-button clear *ngIf="loggedIn" (click)="goToProfile()">{{ logInButton }}</button>
          <button ion-button clear *ngIf="!loggedIn" (click)="loginModal()"> {{ logInButton }}</button>      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row class="dashboard-header">
    <ion-col col-4>
      <h1 class="dashboard-text">Guide Dashboard</h1></ion-col>
    <ion-col col-4></ion-col>
    <ion-col col-4 text-right>
      <button ion-button (click)="addActivity()">+ Add New Activity</button>
    </ion-col>
  </ion-row>

  <!-- Upcoming bookings -->
  <ion-item class = "heading">
    <h1>Upcoming Bookings</h1>
  </ion-item>
  <ion-row class="category-row">
      <div class="actvities-empty" *ngIf="activitiesData.length < 1">No activities currently booked</div>
      <ion-row class="activity-row">
    
          <div class="activity-container" *ngFor="let activity of activitiesBooked" (click)="goToActivity(activity)">
            <ion-row class="activity-header"><img src = {{activity.val.images[0].file}}/></ion-row>
            <ion-row class="activity-footer">
              <ion-item class="line" text-wrap>
                {{activity.val.title}} <span item-end class="activity-price">${{activity.val.price}}</span>
              </ion-item>
              <p>{{activity.val.description}}</p>
            </ion-row>
          </div>
    
      </ion-row>
      
  </ion-row>

  <!-- Guide's Activities -->
  <ion-item class = "heading">
    <h1>My Activities</h1>
  </ion-item>
  <ion-row class="category-row">

      <ion-row class="activity-row">
    
          <div class="activity-container" *ngFor="let activity of activitiesData" (click)="goToActivity(activity)">
            <ion-row class="activity-header"><img src = {{activity.val.images[0].file}}/></ion-row>
            <ion-row class="activity-footer">
              <ion-item class="line" text-wrap>
                {{activity.val.title}} <span item-end class="activity-price">${{activity.val.price}}</span>
              </ion-item>
              <p>{{activity.val.description}}</p>
            </ion-row>
          </div>
    
      </ion-row>
      
  </ion-row>

</ion-content>