page-dashboard {
    & .category {
        margin-top: 20px;
    }

    & .cover {
    	position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
    	height: 100%;
    }

    & .cover-logo {
    	position: relative;
    	width: 40%;
    	margin-left: auto;
    	margin-right: auto;

	}
	
	& .logo { 
		width: 200px;
		height: 50px;
		padding-top: 5px;
		padding-bottom: 5px;
		}

	////// Main BODY /////////

	$body-padding: 20px;

	& .dashboard-header {
		padding: 20px 20px;
        padding-top: 3em;
		
		& h1 {
			margin: 0px !important;
			font-size: 2.5em;
		}

		& button {
			font-size: 1.5em;
			padding: 20px;
		}

		& ion-col {
			padding: 0px !important;
		}
	}

    & .heading {
    	padding: 0px $body-padding;
        padding-top: 2em;
    }

    

    & .activity-row {
    	padding: 0px $body-padding;
    	/*flex-wrap: nowrap;*/

    	& .activity-container {
        	margin: 10px;
        	width: 230px;

        	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    	    border-radius: 10px;

			& ion-item, .item-inner { padding: 0px !important; margin: 0px !important; }

        	& .activity-header {

            	height: 200px;
            	border-bottom-left-radius: 1px;
            	border-bottom-right-radius: 1px;
            	border-top-left-radius: 8px;
            	border-top-right-radius: 8px;
            	overflow: hidden;
        	}

        	& .activity-footer {
        		border-radius: 5px;
            	padding: 10px;
				white-space: normal;

				& ion-label {
					font-weight: bold !important;
					font-size: 1.2em;
					line-height: 1em;
				}
				
				& .activity-price {
					margin: 0px !important;
					padding-right: 5px;
					// font-weight: bold !important;
					font-style: italic !important;
					font-size: 1.4em;
				}

            	& .line {
            	background-color: transparent;
            	}
        	}
    	}
    }

    & .activity-row {
        padding-top: 20em;
    }

    & .activity-container:hover {
        background: linear-gradient(to bottom, white, gainsboro);

    }

    & .category-row {
        padding-top: 1em;
        padding-left:3em;
        font-size: 18px;
    }
}