page-profile {
    & .user {

        padding: 20px;

        & .user-image {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            width: 300px;
            height: 300px;
            background-color: grey;
            border-radius: 200px;
        }

        & .user-name {
            width: 100%;
            text-align: center;
            font-size: 2em;
        }
    }

    & .bookings {
        padding: 10px 20px;
        margin: 10px;
        width: 230px;

        // border: 3px solid black;
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        border-radius: 10px;

        & .bookings-current {
            border-bottom-left-radius: 1px;
            border-bottom-right-radius: 1px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            overflow: hidden;
        }
        & .bookings-past {
            border-radius: 5px;
            padding: 10px;
            padding-left: 25px;

            white-space: normal;

            & .line {
                position: relative;
                right: 15px;
                background-color: transparent;
                width: 400px;
            }
        }
    }

    & .activity-container {
        margin: 10px;
        width: 230px;

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        border-radius: 10px;

        & .activity-header {

            height: 200px;
            border-bottom-left-radius: 1px;
            border-bottom-right-radius: 1px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            overflow: hidden;
        }

        & .activity-footer {
            border-radius: 5px;
            padding: 10px;
            padding-left: 25px;

            white-space: normal;

            & .line {
                position: relative;
                right: 15px;
                background-color: transparent;
                width: 400px;
        }
        }
    }

    & .interests {

    }

    & .skills {

    }
}
