<ion-header>
    <ion-navbar>
      <ion-row>
        <ion-col col-4 text-left>
          <ion-title class = "logo">
            <img src= "assets/imgs/GoLocalLogo.png" />
          </ion-title></ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4 text-right>
            <button ion-button clear *ngIf="loggedIn" (click)="goToProfile()">{{ logInButton }}</button>
            <button ion-button clear *ngIf="!loggedIn" (click)="loginModal()"> {{ logInButton }}</button>      </ion-col>
      </ion-row>
    </ion-navbar>
  </ion-header>
  

<ion-content padding>

  <ion-row>

    <ion-col col-1>
    </ion-col>

    <!-- Main Content -->
    <ion-col col-7 class="activity-details">
      <ion-row class="image-row">
        <div class="image-empty" ng2FileDrop *ngIf="imageQueue.length < 1"
              [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
              (onFileDrop)="dropImage($event)"
              [uploader]="uploader">
                Drop your images here<br>or click the button below
            </div>
        <ion-col col-4 class="image-container" *ngFor="let image of imageQueue">
          <div class = "container" >
          <img class = "activity-image" src="{{image.file}}" />
            
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="upload-images" *ngIf="isGuide">
          <span>Upload images: </span>
          <input type="file" ng2FileSelect [uploader]="uploader" (change)="onUpload()" multiple  /><br/>
      </ion-row>

      <!-- Title and Price Row -->
      <ion-row>
        <ion-col col-8>
          <!-- Title  -->
          <ion-row>
              <ion-col col-10>
                  <span class="title" *ngIf="!editingTitle">{{activity.title}}</span>
                  <ion-input class="title" *ngIf="editingTitle" [(ngModel)]="activity.title"></ion-input>
                </ion-col>
                <ion-col col-2>
                  <button ion-button *ngIf="isGuide" (click)="editTitle()"><ion-icon name="create"></ion-icon></button>
                </ion-col>
          </ion-row>
        </ion-col>

        <!-- Price -->
        <ion-col col-4>
          <ion-row>
            <ion-col col-8>
              <ion-row>
                <ion-col col-4>
                    <span class="price" float-left>$</span>
                </ion-col>
                <ion-col col-8>
                    <span class="price" *ngIf="!editingPrice">{{activity.price}}</span>
                    <ion-input class="price" type="number" *ngIf="editingPrice" [(ngModel)]="activity.price"></ion-input>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-4>
                <button ion-button *ngIf="isGuide" (click)="editPrice()"><ion-icon name="create"></ion-icon></button>
            </ion-col>
          </ion-row>
          
        </ion-col>
      </ion-row>

      <!-- Category -->

      <ion-row>
        <ion-col col-2><div class="category">Category:</div> </ion-col>
        <ion-col col-6 class="category">
            <ion-select [(ngModel)]="activity.category" interface="popover" placeholder="Activity Category">
                <ion-option *ngFor="let val of categories, let i = index" value="{{i}}">{{val}}</ion-option>
              </ion-select>
            </ion-col>
        
      </ion-row>

      <!-- Description -->
      <ion-row>

          <ion-col col-10>
              <p class="description" *ngIf="!editingDescription">{{activity.description}}</p>
              <ion-textarea class="description" *ngIf="editingDescription" [(ngModel)]="activity.description"></ion-textarea>
          </ion-col>
          <ion-col col-2>
              <button ion-button *ngIf="isGuide" (click)="editDescription()"><ion-icon name="create"></ion-icon></button>
          </ion-col>

        
      </ion-row>
    </ion-col>

    <!-- Sidebar -->
    <ion-col col-3 class="guide-sidebar">
      <ion-row><div class="guide-image"></div></ion-row>
      <ion-row><div class="guide-name">{{guideData.name}}</div></ion-row>
      <!-- <ion-row><div class="guide-subtitle">{{guideData.subtitle}}</div></ion-row> -->
      <ion-row><div class="guide-contact">{{guideData.contact}}</div></ion-row>
      <p class = "guide-date" *ngIf="!isGuide">Start Date</p>
      <ion-row><div class="guide-bio">{{guideData.bio}}</div></ion-row>
      <ion-row class = "guide-booking" *ngIf="!isGuide">
        <ion-select [(ngModel)]="start-month" interface="popover" placeholder="month">
          <ion-option *ngFor="let val of months" value="{{val}}">{{val}}</ion-option>
        </ion-select>
        <ion-select [(ngModel)]="start-day" interface="popover" placeholder="day">
          <ion-option *ngFor="let val of days" value="{{val}}">{{val}}</ion-option>
        </ion-select>
      </ion-row>

      <p class = "guide-date" *ngIf="!isGuide">End Date</p>
      <ion-row class = "guide-booking" *ngIf="!isGuide">
        <ion-select [(ngModel)]="end-month" interface="popover" placeholder="month">
          <ion-option *ngFor="let val of months" value="{{val}}">{{val}}</ion-option>
        </ion-select>
        <ion-select [(ngModel)]="end-day" interface="popover" placeholder="day">
          <ion-option *ngFor="let val of days" value="{{val}}">{{val}}</ion-option>
        </ion-select>
      </ion-row>

      <ion-row class = "book-save-delete">
        <button ion-button round *ngIf="!isGuide" (click)="onBook()">Book Now</button>
        <button ion-button round icon-start *ngIf="isGuide" (click)="saveActivity()"><ion-icon name="checkmark"></ion-icon>Save</button>
        <button ion-button round icon-start *ngIf="isGuide" color="danger" (click)="deleteActivity()"><ion-icon name="close"></ion-icon>Delete</button>
      </ion-row>
    </ion-col>

    <ion-col col-1></ion-col>

  </ion-row>
      

  
</ion-content>
