<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-4 text-left><ion-title>GoLocal</ion-title></ion-col>
      <ion-col col-4></ion-col>
      <ion-col col-4 text-right>
          <button ion-button clear *ngIf="loggedIn" (click)="goToProfile()">{{ logInButton }}</button>
          <button ion-button clear *ngIf="!loggedIn" (click)="loginModal()"> {{ logInButton }}</button>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-row>

    <ion-col col-1>
      <button ion-button *ngIf="isGuide" (click)="saveActivity()"><ion-icon name="save"></ion-icon>Save Activity</button>
    </ion-col>

    <!-- Main Content -->
    <ion-col col-7 class="activity-details">
      <ion-row class="image-row">
          <div class="col-md-3">
            <!-- <div ng2FileDrop
                  [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                  (fileOver)="fileOverBase($event)"
                  [uploader]="uploader"
                  class="well my-drop-zone">
                Base drop zone
            </div>

            <div ng2FileDrop
                  [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
                  (fileOver)="fileOverAnother($event)"
                  [uploader]="uploader"
                  class="well my-drop-zone">
                Another drop zone
            </div> -->
        </div>
        <ion-col col-4 class="image-container">
            <div ng2FileDrop
            [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
            (fileOver)="fileOverBase($event)"
            [uploader]="uploader"
            class="drop-zone">
              Base drop zone
          </div>
        </ion-col>
        <ion-col col-4 class="image-container"></ion-col>
        <ion-col col-4 class="image-container"></ion-col>
          <span>Upload images: </span>
          <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>
        <!-- <button ion-button *ngIf="isGuide" (click)="editImages()">Edit Images<ion-icon name="create"></ion-icon></button> -->
      </ion-row>

      <ion-row class="title">
        <ion-col col-8>
          <ion-title *ngIf="!editingTitle">{{activity.title}}</ion-title>
          <ion-input *ngIf="editingTitle" [(ngModel)]="activity.title"></ion-input>
          <button ion-button *ngIf="isGuide" (click)="editTitle()"><ion-icon name="create"></ion-icon>Edit Title</button>
        </ion-col>
        <ion-col col-4>
          <ion-title *ngIf="!editingPrice">$ {{activity.price}}</ion-title>
          <ion-input *ngIf="editingPrice" [(ngModel)]="activity.price"></ion-input>
          <button ion-button *ngIf="isGuide" (click)="editPrice()"><ion-icon name="create"></ion-icon>Edit Price</button>
        </ion-col>
      </ion-row>

      <ion-row>
        <p *ngIf="!editingDescription">{{activity.description}}</p>
        <ion-textarea *ngIf="editingDescription" [(ngModel)]="activity.description"></ion-textarea>
        <button ion-button *ngIf="isGuide" (click)="editDescription()"><ion-icon name="create"></ion-icon>Edit Description</button>
      </ion-row>
    </ion-col>

    <!-- Sidebar -->
    <ion-col col-3 class="guide-sidebar">
      <ion-row><div class="guide-image"></div></ion-row>
      <ion-row><div class="guide-name">{{guideData.name}}</div></ion-row>
      <!-- <ion-row><div class="guide-subtitle">{{guideData.subtitle}}</div></ion-row> -->
      <ion-row><div class="guide-contact">{{guideData.contact}}</div></ion-row>
      <ion-row class = "guide-booking" *ngIf="!isGuide">
        <p>Start Date</p>
        <ion-select [(ngModel)]="start-month" interface="popover" placeholder="month">
          <ion-option *ngFor="let val of months" value="{{val}}">{{val}}</ion-option>
        </ion-select>
        <ion-select [(ngModel)]="start-day" interface="popover" placeholder="day">
          <ion-option *ngFor="let val of days" value="{{val}}">{{val}}</ion-option>
        </ion-select>
      </ion-row>
      <ion-row class = "guide-booking" *ngIf="!isGuide">
        <p>End Date</p>
        <ion-select [(ngModel)]="end-month" interface="popover" placeholder="month">
          <ion-option *ngFor="let val of months" value="{{val}}">{{val}}</ion-option>
        </ion-select>
        <ion-select [(ngModel)]="end-day" interface="popover" placeholder="day">
          <ion-option *ngFor="let val of days" value="{{val}}">{{val}}</ion-option>
        </ion-select>
      </ion-row>

      <ion-row class = "guide-booking">
        <button ion-button *ngIf="!isGuide" (click)="onBook()">Book Now</button>
      </ion-row>
    </ion-col>

    <ion-col col-1></ion-col>

  </ion-row>
      

  
</ion-content>
