page-activity {

    & .activity-details {
        padding: 0px 20px;
    }

    & .image-container {
        padding: 10px;
        height: 250px;
        border: 0px solid black;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


        & .drop-zone {
            background: lightgrey;
            width: 100%;
            height: 100%;
        }
    }

    & .guide-sidebar {

        padding: 20px;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        & .guide-image {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            width: 200px;
            height: 200px;
            background-color: grey;
            border-radius: 100px;
        }

        & .guide-name, .guide-subtitle, .guide-contact {
            width: 100%;
            text-align: center;
        }

        & .guide-name {
            font-size: 2em;
        }

        & .guide-subtitle {
            font-size: 1.2em;
        }

        & .guide-contact {
            font-style: italic;
        }

        & .guide-booking{
            display: flex;
            justify-content: center;
            align-items: centre;
        }


    }
}
